/bin/*.pdb
/bin/crfsuite.net.dll
/bin/SentSplitter.dll
/bin/lingvo.core.dll
/bin/pos-tagger-crf.net.dll
/bin/morphology.dll
/bin/pos-tagger_ru.console.demo.exe
/bin/pos-tagger_ru.console.demo.exe.config
/obj/*
*.csproj.user