<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="URL_DETECTOR_RESOURCES_XML_FILENAME"  value="../../pos-tagger_ru.web.demo/[resources]/url-detector-resources.xml"       />
    <add key="SENT_SPLITTER_RESOURCES_XML_FILENAME" value="../../pos-tagger_ru.web.demo/[resources]/sent-splitter-resources.xml"      />
    <add key="TOKENIZER_RESOURCES_XML_FILENAME"     value="../../pos-tagger_ru.web.demo/[resources]/crfsuite-tokenizer-resources.xml" />
    <add key="POSTAGGER_RESOURCES_XML_FILENAME"     value="../../pos-tagger_ru.web.demo/[resources]/pos-tagger-resources.xml"         />
    <add key="POSTAGGER_MODEL_FILENAME"             value="../../pos-tagger_ru.web.demo/[resources]/model_ap_(minfreq-1)_ru"          />
    <add key="POSTAGGER_TEMPLATE_FILENAME"          value="../../pos-tagger_ru.web.demo/[resources]/templatePosTagger_ru.txt"         />

    <add key="MORPHO_BASE_DIRECTORY"         value="../../pos-tagger_ru.web.demo/[resources]/morphology/" />
    <add key="MORPHO_MORPHOTYPES_FILENAMES"  value="RUS/MorphoTypes.txt; ENG/MorphoTypes.txt" />
    <add key="MORPHO_PROPERNAMES_FILENAMES"  value="RUS/dic_proper.txt;  ENG/dic_proper.txt"  />
    <add key="MORPHO_COMMON_FILENAMES"       value="RUS/dic_nominal.txt; ENG/dic_nominal.txt" />

    <add key="MORPHO_AMBIGUITY_MODEL_FILENAME"       value="../../pos-tagger_ru.web.demo/[resources]/morphology/dsf_pa_(morpho_ambiguity)_5g.txt" />
    <add key="MORPHO_AMBIGUITY_TEMPLATE_FILENAME_5G" value="../../pos-tagger_ru.web.demo/[resources]/morphology/templateMorphoAmbiguity_5g.txt" />
    <add key="MORPHO_AMBIGUITY_TEMPLATE_FILENAME_3G" value="../../pos-tagger_ru.web.demo/[resources]/morphology/templateMorphoAmbiguity_3g.txt" />    
  </appSettings>

</configuration>