/bin/*.pdb
/bin/captcha.dll
/bin/crfsuite.net.dll
/bin/SentSplitter.dll
/bin/lingvo.core.dll
/bin/Newtonsoft.Json.dll
/bin/pos-tagger_ru.web.demo.dll
/bin/pos-tagger-crf.net.dll
/bin/morphology.dll
/obj/*
/(logs)/*
*.csproj.user