<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URL_DETECTOR_RESOURCES_XML_FILENAME"  value="../../[resources]/url-detector-resources.xml"       />
    <add key="SENT_SPLITTER_RESOURCES_XML_FILENAME" value="../../[resources]/sent-splitter-resources.xml"      />
    <add key="TOKENIZER_RESOURCES_XML_FILENAME"     value="../../[resources]/crfsuite-tokenizer-resources.xml" />
    <add key="POSTAGGER_RESOURCES_XML_FILENAME"     value="../../[resources]/pos-tagger-resources.xml"         />
    <add key="POSTAGGER_MODEL_FILENAME"             value="../../[resources]/ru_ap_(minfreq-1)__postagger.crf" />
    <add key="POSTAGGER_TEMPLATE_FILENAME"          value="../../[resources]/template__postagger.txt"         />

    <add key="MORPHO_BASE_DIRECTORY"         value="../../[resources]/morphology/" />
    <add key="MORPHO_MORPHOTYPES_FILENAMES"  value="ru/ru_morpho_types.txt; en/en_morpho_types.txt" />
    <add key="MORPHO_PROPERNAMES_FILENAMES"  value="ru/ru_dic_proper.txt;  en/en_dic_proper.txt"  />
    <add key="MORPHO_COMMON_FILENAMES"       value="ru/ru_dic_nominal.txt; en/en_dic_nominal.txt" />

    <add key="MORPHO_AMBIGUITY_MODEL_FILENAME"       value="../../[resources]/morphology/ru_dsf_pa_5g__morphoambiguity.txt" />
    <add key="MORPHO_AMBIGUITY_TEMPLATE_FILENAME_5G" value="../../[resources]/morphology/template_5g__morphoambiguity.txt" />
    <add key="MORPHO_AMBIGUITY_TEMPLATE_FILENAME_3G" value="../../[resources]/morphology/template_3g__morphoambiguity.txt" />
  </appSettings>
</configuration>